.text-center
{
  text-align: center;
 
}
.bg-red
{
  background-color: red;
}
.flex
{
  display: flex;
}
.flex-col
{
  flex-direction: column;
}
.mg-auto
{
margin: auto;
}
.item-center
{
  justify-content: center;
  align-items: center;
}